// Start

_: <TMPL_var _("Unknown message")>
GETTEXT: <TMPL_var GETTEXT("Unknown message")>
_: <TMPL_var _("Test message")>
GETTEXT: <TMPL_var GETTEXT("Test message")>
_ n1: <TMPL_var _("%d file", "%d files", n1)>
_ n2: <TMPL_var _("%d file", "%d files", n2)>
_ n5: <TMPL_var _("%d file", "%d files", n5)>
GETTEXT n1: <TMPL_var GETTEXT("%d file", "%d files", n1)>
GETTEXT n2: <TMPL_var GETTEXT("%d file", "%d files", n2)>
GETTEXT n5: <TMPL_var GETTEXT("%d file", "%d files", n5)>
_ n1: <TMPL_var _("unknown singular message", "unknown plural message", n1)>
_ n2: <TMPL_var _("unknown singular message", "unknown plural message", n2)>
GETTEXT n1: <TMPL_var GETTEXT("unknown singular message", "unknown plural message", n1)>
GETTEXT n2: <TMPL_var GETTEXT("unknown singular message", "unknown plural message", n2)>

Plural: 1 <TMPL_var russian_plural(1,'рубль', 'рубля', 'рублей')>
Plural: 2 <TMPL_var russian_plural(2,'рубль', 'рубля', 'рублей')>
Plural: 3 <TMPL_var russian_plural(3,'рубль', 'рубля', 'рублей')>
Plural: 4 <TMPL_var russian_plural(4,'рубль', 'рубля', 'рублей')>
Plural: 5 <TMPL_var russian_plural(5,'рубль', 'рубля', 'рублей')>
Plural: 6 <TMPL_var russian_plural(6,'рубль', 'рубля', 'рублей')>
Plural: 7 <TMPL_var russian_plural(7,'рубль', 'рубля', 'рублей')>
Plural: 8 <TMPL_var russian_plural(8,'рубль', 'рубля', 'рублей')>
Plural: 9 <TMPL_var russian_plural(9,'рубль', 'рубля', 'рублей')>
Plural: 10 <TMPL_var russian_plural(10,'рубль', 'рубля', 'рублей')>
Plural: 11 <TMPL_var russian_plural(11,'рубль', 'рубля', 'рублей')>
Plural: 12 <TMPL_var russian_plural(12,'рубль', 'рубля', 'рублей')>
// End.
