RANDOM:                      <TMPL_var RANDOM()>
RANDOM:                      <TMPL_var RANDOM(10)>
RANDOM:                      <TMPL_var RANDOM(10.01)>
RANDOM:                      <TMPL_var RANDOM(-10, 10)>
RANDOM:                      <TMPL_var RANDOM(-10.01, 10.01)>

