// Start

Date: <TMPL_var icu_format_date("dd-MM-yyyy", date_add("2017-04-11","1day"))>

Time: <TMPL_var icu_format_date("dd-MM-yyyy hh:mm:ss", date_add("2017-04-11 12:23:34","1day"))>

Date: <TMPL_var icu_format_date("dd-MM-yyyy", date_add("2017-04-11","1week"))>

Time: <TMPL_var icu_format_date("dd-MM-yyyy hh:mm:ss", date_add("2017-04-11 12:23:34","1week"))>

Date: <TMPL_var icu_format_date("dd-MM-yyyy", date_add("2017-04-11","1month"))>

Time: <TMPL_var icu_format_date("dd-MM-yyyy hh:mm:ss", date_add("2017-04-11 12:23:34","1month"))>

Date: <TMPL_var icu_format_date("dd-MM-yyyy", date_add("2017-04-11","1year"))>

Time: <TMPL_var icu_format_date("dd-MM-yyyy hh:mm:ss", date_add("2017-04-11 12:23:34","1year"))>

Date: <TMPL_var icu_format_date("dd-MM-yyyy", date_add("2017-04-11","20days"))>

Time: <TMPL_var icu_format_date("dd-MM-yyyy hh:mm:ss", date_add("2017-04-11 12:23:34","20days"))>

// End.
